**/node_modules/
npm-debug.log

__tests__

jest.config.*
nodemon.json

!dist/

.dockerfile
.dockerignore
.docker-compose.*

.eslint*
.prettier*

.git
.gitignore

.eslint*
.prettier*

.coverage
.coverage.*

.env