.vscode

node_modules
npm-debug.log

__tests__
?.dockerfile
src

jest.config.*
nodemon.json
.husky

.dockerfile
.dockerignore
.docker-compose.*

.eslint*
.prettier*

.git
.gitignore

.coverage
.coverage.*

.env